.topFixedBanner {
       background-attachment: fixed;
       background-image: url(../image/banner.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       min-height: 550px;
}

.topBannerOverlay {
       background: rgba(0, 0, 0, 0.7);
       min-height: 550px;
       position: absolute;
       width: 100%;
}

.topContent {
       margin-top: 10em;
}

.topTitle {
       color: #fff;
       font-family: 'Montserrat', sans-serif;
       font-size: 48px;
       font-weight: 700;
}

.topSubtitle {
       color: #fff;
       font-family: 'Raleway', sans-serif;
       font-size: 22px;
       font-weight: 600;
}

.designIcon {
       height: 80px;
}

.ecommerceIcon {
       height: 80px;
}

.webIcon {
       height: 80px;
}