.topFixedBanner {
       background-attachment: fixed;
       background-image: url(../image/walpapermantap.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       min-height: 550px;
}

.topBannerOverlay {
       background: rgba(0, 0, 0, 0.7);
       min-height: 550px;
       position: absolute;
       width: 100%;
}

.topContent {
       margin-top: 15em;
}

.topTitle {
       color: #fff;
       font-family: 'Montserrat', sans-serif;
       font-size: 48px;
       font-weight: 700;
}

.topSubtitle {
       color: #fff;
       font-family: 'Raleway', sans-serif;
       font-size: 22px;
       font-weight: 600;
}


/*Services Components*/

.designIcon {
       height: 80px;
}

.ecommerceIcon {
       height: 80px;
}

.webIcon {
       height: 80px;
}

.serviceCard {
       box-shadow: 0 0 8px 0 rgba(4, 44, 105, 0.2);
       height: 22rem;
       margin: 5px;
       padding: 60px 30px;
}

.serviceCard:hover {
       box-shadow: 0 0 16px 0 rgba(5, 41, 97, 0.2);
       height: 22rem;
       margin: 5px;
       padding: 60px 30px;
}

.serviceName {
       color: #051b35;
       margin-top: 1rem;
       font-family: 'Raleway', sans-serif;
       font-size: 24px;
       font-weight: 700;
}

.serviceDescription {
       color: #505050;
       margin-top: 1rem;
       font-family: 'Raleway', sans-serif;
       font-size: 15px;
       font-weight: 400;
}

.serviceMainTitle {
       color: #051b35;
       font-family: 'Montserrat', sans-serif;
       font-size: 28px;
       font-weight: 700;
       margin-bottom: 3rem;
       margin-top: 5rem;
}

.bottom {
       background: #051b35 none repeat scroll 0 0;
       height: 5px;
       margin: -1.9rem auto 0;
       margin-bottom: 3rem;
       width: 100px;
}

/* End Services Components */

/* TopNavigation Components */

.navTitle {
       color: #fff !important;
       font-family: 'Montserrat', sans-serif;
       font-size: 30px;
       font-weight: 700;
}

.navTitleScroll {
       color: #0e3768 !important;
       font-family: 'Montserrat', sans-serif;
       font-size: 30px;
       font-weight: 700;
}

.navBackground {
       background-color: rgb(0, 0, 0, 0.1) !important;
       -moz-transition: background-color 400ms linear;
       -o-transition: background-color 400ms linear;
       transition: background-color 400ms linear;
       -webkit-transition: background-color 400ms linear;
}

.navBackgroundScroll {
       background-color: #fff;
       -moz-transition: background-color 400ms linear;
       -o-transition: background-color 400ms linear;
       transition: background-color 400ms linear;
       -webkit-transition: background-color 400ms linear;
}

.navItem {
       color: #fff !important;
       text-decoration: none !important;
       font-family: 'Montserrat'sans-serif;
       font-size: 16px;
       font-weight: 700;
}

.navItemScroll {
       color: #000 !important;
       text-decoration: none !important;
       font-family: 'Montserrat'sans-serif;
       font-size: 16px;
       font-weight: 700;
}


/* End TopNavigation Components */

/* Analysis Components */

.analysisDescription {
       color: #505050;
       margin-top: 1rem;
       font-family: 'Raleway', sans-serif;
       font-size: 15px;
       font-weight: 400;
       text-align: justify;
}

.analysisMainTitle {
       color: #051b35;
       font-family: 'Montserrat', sans-serif;
       font-size: 28px;
       font-weight: 700;
       margin-bottom: 3rem;
       margin-top: 5rem;
}

/* End Analysis Componens */

/* Summary Components */

.summaryBanner {
       background-attachment: fixed;
       background-image: url(../image/walpapermantap.jpg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       min-height: 400px;
}

.summaryBanner .summaryBannerOverlay {
       background: rgba(27, 31, 92, 0.7);
       min-height: 400px;
       position: absolute;
       width: 100%;
}

.summaryBanner .summaryBannerOverlay .countSection {
       margin-top: 20%;
}

.countNumber {
       color: #fff;
       font-family: 'Montserrat', sans-serif;
       font-size: 40px;
       font-weight: 700;
}

.countTitle {
       color: #ffd900;
       font-family: 'Raleway', sans-serif;
       font-size: 22px;
       font-weight: 600;
}

.workCard {
       border-radius: 3px;
       margin-top: 30%;
       padding: 10px;
}

.cardTitle {
       color: #000;
       font-family: 'Montserrat', sans-serif;
       font-size: 15px;
       font-weight: 700;
}

.cardSubTitle {
       color: #000;
       font-family: 'Raleway', sans-serif;
       font-size: 14px;
       font-weight: 700;
       text-align: justify;
}



/* End Summary Components */